/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.chat-container {
    width: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.chat-messages {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    border-bottom: 1px solid #ddd;
}

.chat-input {
    border: none;
    padding: 15px;
    font-size: 16px;
    width: calc(100% - 90px);
}

.send-button {
    border: none;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    width: 90px;
    text-align: center;
}

.send-button:hover {
    background-color: #45a049;
}
/* Añadir a styles.css */
.user-message {
    background-color: #e1ffc7;
    padding: 10px;
    border-radius: 10px;
    margin: 5px 0;
    align-self: flex-end;
    max-width: 70%;
}

.bot-message {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 10px;
    margin: 5px 0;
    align-self: flex-start;
    max-width: 70%;
}
